body {
    padding-top: 160px;
    padding-bottom: 50px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e2f2f2;
    text-align: center;
    padding: 10px;
    z-index: 1000;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
}

.comment-content {
    height: 60px;
    background-color: #f2f2f2;
}
