body {
    padding: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
}

.comment-content {
    height: 40px;
    background-color: #f2f2f2;
}
