{% extends "auctions/layout.html" %}

{% block body %}
  <h2>Welcome, {{ user.username }}!</h2>
  <a href="{% url 'create_listing' %}">Create a New Listing</a>
  <h4>All Active Listings:</h4>
  <ul>
    {% for listing in active_listings %}
      <li>
        <h5>
        <a href="{% url 'listing_detail' listing.pk %}">{{ listing.title }}</a>
        </h5>
        <p>Description: {{ listing.description }}</p>
        <p>Current Price: {{ listing.highest_bid|default:listing.starting_bid }}</p>
        {% if listing.image_url %}
          <img src="{{ listing.image_url }}" alt="Listing Image" style="max-width: 100px;">
        {% endif %}
      </li>
    {% endfor %}
  </ul>

{% endblock %}
