{% extends "auctions/layout.html" %}

{% block body %}
    {% if not listing.is_active %}
        <p>Auction Closed.</p>
        {% if listing.winner %}
            <p>Winner: {{ listing.winner.username }}</p>
        {% else %}
            <p>No bids were placed on this auction.</p>
        {% endif %}
    {% endif %}

    <h2>{{ listing.title }}</h2>
    <p>Description: {{ listing.description }}</p>
    <p>Current Price: {{ listing.highest_bid|default:listing.starting_bid }}
        {% if listing.highest_bidder %}
            (Bid made by {{ listing.highest_bidder.username }})
        {% endif %}
     </p>
    {% if listing.image_url %}
        <img src="{{ listing.image_url }}" alt="Listing Image" style="max-width: 100%;">
    {% endif %}

    {% if user.is_authenticated %}
        {% if listing.creator == user %}
            <!-- Options for the user who created the listing -->
            <a href="{% url 'edit_listing' listing.id %}">Edit Listing</a>
            <a href="{% url 'close_auction' listing.id %}">Close Auction</a>
        {% else %}
            <!-- Options for other users -->
            <form action="{% url 'place_bid' listing.id %}" method="post">
                {% csrf_token %}
                <label for="bid_amount">Your Bid:</label>
                <input type="number" name="bid_amount" min="{{ listing.highest_bid|default:listing.starting_bid }}" step="0.01" required>
                <button type="submit">Place Bid</button>
                {% if error_message %}
                    <div class="error">{{ error_message }}</div>
                {% endif %}
            </form>
        {% endif %}
        <a href="{% url 'add_to_watchlist' listing.id %}">Add to Watchlist</a>
    {% endif %}
{% endblock %}


