{% extends 'monemome/layout.html' %}

{% block content %}
<div class="container">
    <h1>Welcome, {{ user.username }}!</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-md-5">
            <div class="chart-container">
                <canvas id="expenseChart"></canvas>
                <div class="chart-spacing"></div>
                <canvas id="incomeChart"></canvas>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card-header">
                <a href="{% url 'pre_auth_payments' %}" class="header-link">Upcoming Pre-Auth Payments</a>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for payment in upcoming_payments %}
                        <li class="list-group-item">
                            {{ payment.transaction_name }} - ${{ payment.amount }} - Due: {{ payment.date|date:"M d, Y" }}
                        </li>
                    {% empty %}
                        <li class="list-group-item">No upcoming payments.</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card-header">
                <a href="{% url 'accounts' %}" class="header-link">Account Balances</a>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for account in accounts %}
                    <li class="list-group-item">
                        {{ account.account_name }} ${{ account.total_balance|floatformat:2 }}
                    </li>
                    {% empty %}
                    <li class="list-group-item">No accounts found.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {{ expense_data|json_script:"expense-data" }}
    {{ income_data|json_script:"income-data" }}        
</div>

{% endblock %}
