{% extends 'monemome/layout.html' %}

{% block content %}
<div class="container">
    <h2>Register</h2>
    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}  <!-- Render the user form fields including email -->
        {{ account_form.as_p }}  <!-- Render the account form fields -->
        {{ category_form.as_p }}  <!-- Render the new category form fields -->

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <p></p>
    <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
</div>

{% endblock %}
