@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column !important; /* Force vertical stacking */
    }
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #E8F5E9; /* Lighter shade of sage green */
}

.navbar-brand {
    color: #A5D6A7
}

.navbar {
    background-color: #C8E6C9; /* Darker shade of sage green */
}

.navbar-brand, .nav-link {
    color: #40755E !important; /* Darker shade of green for better readability */
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    color: #FF8A65;
    line-height: 1;
    background-color: #FFAB91;
    border: 1px;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}    

.footer {
    background-color: #C8E6C9; /* Darker shade of sage green */
    color: #40755E; /* Darker shade of green for better readability */
}

/* Add custom styles for buttons, tables, and other elements here using the sage green and orange/beige color scheme */
.btn-custom {
    background-color: #FFAB91; /* Orange/beige color */
    color: white;
}

.btn-custom:hover {
    background-color: #FF8A65; /* A darker shade of orange/beige for hover effect */
}

/* Styles for form labels */
.form-label {
    color: #40755E; /* Darker shade of green for better readability */
}

form select {
    width: 30%; /* Adjust the width as needed */
}


/* Styles for the pre-auth date field */
.form-group {
    margin-bottom: 1rem;
}

.form-group .form-label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group .form-control {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-group .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Adjust the display of the pre-auth date field */
#id_pre_auth_date {
    display: none; /* Hide by default */
}

/* Style for the pre-auth date field when visible */
.pre-auth-visible #id_pre_auth_date {
    display: block; /* Show when the field is visible */
    margin-top: 0.5rem; /* Add some margin for spacing */
}


/* Styles for table */
.table {
    color: #40755E; /* Darker shade of green for better readability */
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f7f3; /* Very light shade of green for striped rows */
}

/* Custom styles for the login button */
#login-button {
    background-color: #fa7a53d3; /* Orange/beige color */
    border-color: #fd7c55da; /* Orange/beige border color */
    color: white; /* White text color */
}

#login-button:hover {
    background-color: #f7a58ce7; /* Darker shade of orange/beige for hover effect */
    border-color: #f7a58ce7; /* Darker shade of orange/beige border color for hover effect */
}

.success-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
}

.highlight {
    background-color: #ffff99; /* Light yellow background */
}

.transaction-table {
    width: 100%;
    border-collapse: collapse;
}

.transaction-table th, .transaction-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.transaction-table th {
    background-color: #f2f2f2;
}

/* Set minimum width for columns */
.transaction-table th:nth-child(1),
.transaction-table th:nth-child(3),
.transaction-table th:nth-child(4) {
    min-width: 120px; /* Adjust as needed */
}

.transaction-table th:nth-child(2),
.transaction-table th:nth-child(5),
.transaction-table th:nth-child(6),
.transaction-table th:nth-child(7) {
    min-width: 100px; /* Adjust as needed */
}

