@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column !important; /* Force vertical stacking */
    }
}

.d-flex {
    display: flex;
    gap: 20px; /* Optional: adds space between cards */
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #E8F5E9; /* Lighter shade of sage green */
}


.sub-header {
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;  
}

.centered-content {
    display: flex;
    justify-content: center;
}

.h3-link {
    text-decoration: none;
    color: inherit;
}


.navbar-brand {
    color: #A5D6A7
}

.navbar {
    background-color: #C8E6C9; /* Darker shade of sage green */
}

.navbar-brand, .nav-link {
    color: #40755E !important; /* Darker shade of green for better readability */
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    color: #FF8A65;
    line-height: 1;
    background-color: #FFAB91;
    border: 1px;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}    

.footer {
    background-color: #C8E6C9; /* Darker shade of sage green */
    color: #40755E; /* Darker shade of green for better readability */
}

/* Add custom styles for buttons, tables, and other elements here using the sage green and orange/beige color scheme */
.btn-custom {
    background-color: #FFAB91; /* Orange/beige color */
    color: white;
}

.btn-custom:hover {
    background-color: #FF8A65; /* A darker shade of orange/beige for hover effect */
}

/* Styles for form labels */
.form-label {
    color: #40755E; /* Darker shade of green for better readability */
}

.form-button {
    padding: 10px 20px; /* Top-Bottom, Left-Right padding */
    margin-top: 10px;  /* Additional spacing above the button */
}

.hide-field {
    display: none;
}


/* Styles for table */
.table {
    color: #40755E; /* Darker shade of green for better readability */
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f7f3; /* Very light shade of green for striped rows */
}

/* Custom styles for the login button */
#login-button {
    background-color: #fa7a53d3; /* Orange/beige color */
    border-color: #fd7c55da; /* Orange/beige border color */
    color: white; /* White text color */
}

#login-button:hover {
    background-color: #f7a58ce7; /* Darker shade of orange/beige for hover effect */
    border-color: #f7a58ce7; /* Darker shade of orange/beige border color for hover effect */
}

form .form-control {
    width: 50%; /* Adjust width to 50% of its container */
}

.highlight {
    background-color: yellow;  /* Or any color that fits your design */
    font-weight: bold;
}

.card-custom-bg {
    flex-grow: 1; /* Makes each card grow to fill the space equally */
    background-color: #f0f8ff; /* Alice blue, very light and soothing */
    border-color: #dee2e6; /* Slightly darker border for some contrast */
}
