<!-- account_balances.html -->
{% extends 'monemome/layout.html' %}

{% block content %}
<div class="container">
    <div class="sub-header">
        <div class="btn-group" role="group" aria-label="Account navigation">
            <a href="{% url 'list_accounts' %}" class="btn btn-secondary">List Accounts</a>
            <a href="{% url 'account_balances' %}" class="btn btn-secondary">Account Balances</a>
        </div>
    </div>
    <p><h2>Account Balances</h2></p>
    <table class="table">
        <thead>
            <tr>
                <th>Account Name</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for account, balance in balances %}
            <tr>
                <td>{{ account.account_name }}</td>
                <td>${{ balance }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
