{% extends 'monemome/layout.html' %}

{% block content %}
    <div class="container">
        <h1>Welcome to MonE-MomE</h1>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-8">
                <div class="chart-container">
                    <canvas id="expenseChart"></canvas>
                    <canvas id="incomeChart"></canvas>
                </div>
            </div>
            <div class="col-md-4">
                <!-- You can add other content or additional information here -->
                <p>Other details or links can be placed here, or more insights related to the data.</p>
                <h4>COMING SOON!</h4>
            </div>
        </div>
        {{ expense_data|json_script:"expense-data" }}
        {{ income_data|json_script:"income-data" }}        
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var expenseData = JSON.parse(document.getElementById('expense-data').textContent);
            var incomeData = JSON.parse(document.getElementById('income-data').textContent);
        
            var ctxExpense = document.getElementById('expenseChart').getContext('2d');
            var expenseChart = new Chart(ctxExpense, {
                type: 'pie',
                data: {
                    labels: expenseData.map(data => data.name),
                    datasets: [{
                        label: 'Expense Breakdown',
                        data: expenseData.map(data => data.value),
                        backgroundColor: ['#e6a19f', '#d38377', '#bc6f66'], // Define colors
                        borderColor: '#94453d',  // Define border colors
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false, 
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                    }
                }
            });
        
            var ctxIncome = document.getElementById('incomeChart').getContext('2d');
            var incomeChart = new Chart(ctxIncome, {
                type: 'pie',
                data: {
                    labels: incomeData.map(data => data.name),
                    datasets: [{
                        label: 'Income Breakdown',
                        data: incomeData.map(data => data.value),
                        backgroundColor: ['#b2c2bf', '#8da9a0', '#748c87'], // Define colors
                        borderColor: '#5c6f6b',  // Define border colors
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                    }
                }
            });
        });
    </script>
{% endblock %}
