textarea {
    min-height: 400px;
}

.email-subject {
    cursor: pointer;
    color: #007bff; /* Bootstrap primary blue for example, but you can choose any color */
    text-decoration: underline;
}

.email-subject:hover {
    color: #0056b3; /* Darker blue on hover */
}

.email-box.unread {
    background-color: white;
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.email-box.read {
    background-color: #f8f9fa;
    border: 1px solid #e3e3e3;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.email-box:hover {
    background-color: #f2f2f2;
}

}

